@tailwind base;
@tailwind components;
@tailwind utilities;


.Navbar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 66%;
    height: 100%;
    padding: 1.5rem;
    background-color: white;
    z-index: 2;
}

.Navbar::after {
    content: '';
    width: calc(100% - 66%);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    opacity: .25;
    z-index: 1;
}